.three-column {
  .deal-hot {
    margin-top: 40px;
    position: relative;
    justify-content: space-between;
    align-items: center;

    h4 {
      padding-right: 20px;
    }

    .hot-button {
      padding-left: 20px;

      i {
        padding: 10px;
        background-color: #efefef;
        margin-right: 5px;
        border-radius: 3px;

        &:hover {
          color: white;
          background-color: $wood-color;
        }
      }
    }

    .hot-button,
    h3 {
      background-color: white;
      overflow: hidden;
      z-index: 2;
    }
  }

  .deal-hot::before {
    background-color: #eeeeee;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 20px;
    transition: all 0.4s ease 0s;
    width: 100%;
    z-index: 1;
  }

  .hot-slider-item {
    text-align: center;
    margin: 10px 3px;
    padding: 10px 0;
    &:hover {
      box-shadow: 0 0 15px rgb(0 0 0 / 10%);
    }

    span {
      display: block;
      font-size: 15px;
      color: #555;
    }

    h4 {
      margin-top: 10px;
      font-size: 20px;

      &:hover{
        color: $wood-color;
      }
    }

    p {
      font-size: 18px;
    }
  }
}