.list-product{
  .el-select .el-input.is-focus .el-input__wrapper{
    box-shadow: 0 0 0 1px $wood-color inset!important;
  }

  .el-checkbox.is-bordered.is-checked{
    border-color: $wood-color;
  }

  .el-checkbox__input.is-checked .el-checkbox__inner {
    border-color: $wood-color;
    background-color: $wood-color;
  }

  .el-checkbox__input.is-checked+.el-checkbox__label{
    color: $wood-color;
  }

  .el-input__wrapper.is-focus{
    box-shadow: 0 0 0 1px $wood-color inset!important;
  }

  .el-slider{
    --el-slider-main-bg-color: #AB8C74
  }

  .list-product-bg{
    background-color: #f9f9f9;
    padding: 25px 0;
    
    .el-breadcrumb__item{
      font-size: 16px;
    } 
  }

  .product-banner{
    margin-top: 10px;

    img:first-child{
      padding-right: 10px;
    }
  }

  .product-filter{
    margin-top: 10px;

    h4:first-child {
      margin-right: 20px;
    }
    
    .f-row1{
      margin-top: 10px;
      div {
        margin-right: 3px;
      }
    }

    .el-divider--horizontal{
      margin: 15px 0;
    }

    .filter-price{
      margin-top: 10px;
      width: 40%;
      position: relative;

      .price-slider{
        align-items: center;
      }

      .input-slider{
        display: flex;
        justify-content: space-between;

        .el-input{
          width: 120px;
        }

        &::before{
          content: "";
          display: block;
          position: absolute;
          height: 2px;
          bottom: 14px;
          width: 100%;
          background-color: #eeeeee;
        }
      }
    }
  }

  .filter-price{
    span{
      color: white;
    }
  }

  .btn-filter{
    background-color: $wood-color;
    padding: 8px 9px;
    width: 100px;
    border-radius: 2px;

    text-align: center;
    color: white;
    font-weight: bold;
    cursor: pointer;

    &:hover{
      background-color: #8a6c56;
    }
  }

  .filter-checkbox{
    margin-top: 15px;
    margin-left: 25px;
  }

  .filter-bottom{
    display: flex;
    justify-content: space-between;
  }

  .pagination{
    margin-top: 50px;
  }

  .main{
    .hot-slider-item{
      transition: all 0.3s ease-out 0s;
      background: #fff none repeat scroll 0 0;
      position: relative;
      z-index: 10;
      text-align: center;
      margin: 10px 0px;

      &:hover{
        margin-bottom: -50px;
        z-index: 11;
      }    
  
      &:hover .slider-item-icon{
        opacity: 1;
        margin-top: -10px;
      }
  
      &:hover{
        box-shadow: 0 0 15px rgb(0 0 0 / 10%);
      }
  
      span{
        font-size: 15px;
        color: #555;
      }
  
      h4{
        margin-top: 10px;
        font-size: 20px;
      
        &:hover{
          color: $wood-color;
        }
      }
      
  
      p{
        font-size: 18px;
      }
      
      .slider-item-icon{
        transition: all 0.3s ease-out 0s;
        opacity: 0;
        align-items: center;
        justify-content: center;
        
        margin-top: -50px;
        position: relative;
        z-index: 10;
        
        i{
          padding: 10px;
          background-color: #eef0f1;
          border-radius: 5px;
        }
  
        p{
          font-weight: bold;
          padding: 10px 8px;
          border-radius: 5px;
          margin-left: 10px;
          font-size: 16px;
          background-color: #eef0f1;
        }
  
        i:hover, p:hover{
          color: white;
          background-color: $wood-color;
        }
      }
    }
  }
}